<!-- Nama pages-->
{% set title = 'Kanno - About Us' %}
{% set style = 'about-us' %}
{% set script = 'about-us' %}
{% extends "landing-page.njk" %}

{% block content %}
    <!-- HEADER -->
    <header id="header">
        <div class="container-kanoo">
            <div class="row-flex-kanoo">
                <div class="header-cover-background"></div>
                <div class="header-left">
                    <h3 class="header-subtitle">Tentang Kami</h3>
                    <h1 class="header-title">Platform penyedia service freelance dari segala bidang terbaik di Indonesia</h1>
                    <a href="#" class="header-read-more">Read More</a>
                    <div class="header-col-value">
                        <div class="mr-24px sm:mr-32px md:mr-40px lg:mr-60px">
                            <strong class="header-value-number">1200K</strong>
                            <p class="header-value-text">Active Product</p>
                        </div>
                        <div class="mr-24px sm:mr-32px md:mr-40px lg:mr-60px">
                            <strong class="header-value-number">99.5%</strong>
                            <p class="header-value-text">Great Feedback</p>
                        </div>
                        <div>
                            <strong class="header-value-number">1000K</strong>
                            <p class="header-value-text">Freelance</p>
                        </div>
                    </div>
                    <div class="header-shadow"></div>
                </div>
                <div class="header-right">
                    <img class="header-about-img absolute" src="../assets/img/about-header.png" alt="#">
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN -->
    <main id="main">
        <article class="main-article-1">
            <div class="container-kanoo">
                <div class="row-flex-kanoo items-center">
                    <div class="article-col-text">
                        <h2 class="article-title">About Kanno</h2>
                        <p class="article-text mb-40px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <h3 class="article-subtitle">Kanno adalah platform freelancer terbaik untuk saat ini, dan akan terus berlanjut</h3>
                        <div class="inline-flex-row-center">
                            <div class="mr-16px">
                                <img class="rounded-full" src="../assets/img/user.png" height="40" width="40" alt="#">
                            </div>
                            <div>
                                <strong class="font-semibold text-16px text-black-100">Yamato Santosa</strong>
                                <p class="text-16px text-black-50">Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="article-col-image">
                        <img class="article-image-right" src="../assets/img/about-main-1.png" alt="#">
                    </div>
                </div>
            </div>
        </article>
        <article class="main-article-2">
            <duv class="container-kanoo">
                <div class="row-flex-kanoo items-center">
                    <div class="article-col-image">
                        <img class="article-image-left" src="../assets/img/about-main-2.png" alt="#">
                    </div>
                    <div class="article-col-text">
                        <h2 class="article-title">Our Office</h2>
                        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </duv>
        </article>
        <article class="main-article-3">
            <div class="container-kanoo">
                <div class="row-flex-kanoo items-center">
                    <div class="article-col-text">
                        <h2 class="article-title">Collaborative Team</h2>
                        <p class="article-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="article-col-image">
                        <img class="article-image-right" src="../assets/img/about-main-3.png" alt="#">
                    </div>
                </div>
            </div>
        </article>
        <article class="main-article-4">
            <div class="container-kanoo">
                <div class="row-flex-kanoo items-center">
                    <div class="article-col-image">
                        <img class="article-image-left" src="../assets/img/about-main-4.png" alt="#">
                    </div>
                    <div class="article-col-text">
                        <h2 class="article-title">Work Life Balance</h2>
                        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <!-- SECTION: BLOG POST -->
    <section id="blog-post-section">
        <div class="container-kanoo">
            <div class="row-flex-kanoo pt-8 mb-40px">
                <h3 class="section-title">Blog Post</h3>
                <a href="#" class="section-title-link">Lihat selengkapnya</a>
            </div>
            <div class="row-grid-kanoo">
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-1.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-2.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-3.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-4.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-5.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img class="blog-article-image" src="../assets/img/blog-post-6.png" alt="#">
                    </div>
                    <div class="pt-24px pb-8px">
                        <h4 class="blog-article-title"><a href="#">Proses Kinerja Tim Product Development di Startup</a></h4>
                        <p class="blog-article-text">It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- SECTION: CARI SERVICE -->
    <section id="cari-service-section">
        <div class="container-kanoo">
            <div class="row-block-kanoo">
                <div class="cari-service-icon">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9993 2.66602C6.86048 2.66602 2.66602 6.86048 2.66602 11.9993C2.66602 17.1382 6.86048 21.3327 11.9993 21.3327C14.33 21.3327 16.4594 20.4634 18.0983 19.041L18.666 19.6087V21.3327L26.1139 28.7806C26.8499 29.5166 28.0446 29.5166 28.7806 28.7806C29.5166 28.0446 29.5166 26.8499 28.7806 26.1139L21.3327 18.666H19.6087L19.041 18.0983C20.4634 16.4594 21.3327 14.33 21.3327 11.9993C21.3327 6.86048 17.1382 2.66602 11.9993 2.66602ZM11.9993 5.33268C15.697 5.33268 18.666 8.30166 18.666 11.9993C18.666 15.697 15.697 18.666 11.9993 18.666C8.30166 18.666 5.33268 15.697 5.33268 11.9993C5.33268 8.30166 8.30166 5.33268 11.9993 5.33268Z" fill="#FDFEFF"/>
                    </svg>
                </div>
                <h2 class="service-title">Temukan service dari freelancer yang<br class="hidden md:block" />cocok dengan kebutuhanmu!</h2>
                <a href="#" class="service-link">Cari Service</a>
            </div>
        </div>
    </section>
   
 {% endblock %}