{% set title = 'Blog Detail' %}
{% extends 'landing-page.njk' %}
{% block head %}
    <style>
        .img-header {
            height: 463px;
        }
        @media only screen and (max-width: 768px) {
            .img-header {
                height: 280px;
            }
        }
        #cat::after {
            content: "";
            width: 7px;
            height: 7px;
            background-color: #ccc;
            border-radius: 50%;
            display: inline-block;
            margin: 2px 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- IMG HEADER -->
    <header class="img-header relative w-full mb-16">
        <img src="../assets/img/blog-detail-header.png" class="h-full w-full object-cover">
    </header>
    <!-- CONTENT -->
    <div class="container-kanoo mb-96px">
        <div class="lg:grid lg:grid-cols-12 gap-10">
            <div class="col-span-8 bg-white rounded-8px px-4 py-6">
                <h1 class="text-black-100 text-32px font-bold mb-6 leading-tight">Proses Kerja Product Development di Startup</h1>
                <div class="mb-6 flex items-center space-x-3 lg:space-x-5 text-black-50 text-14px">
                    <img src="https://placekitten.com/50/50" class="rounded-full w-56px h-56px">
        <p>Dibuat oleh <span class="font-semibold text-black-100">Author</span> pada 18 April 2019</p>
        <p>Category Name</p>
    </div>
    <p class="text-black-70 text-16px leading-34px text-justify pb-24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante ExLorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.
                </p>
</div>
<div class="col-span-4">
    <h1 class="whitespace-nowrap text-28px text-black-100 font-bold mb-8 mt-7">Blog Terkait</h1>
    <div class="mb-6">
        <div class="mt-8 flex items-center space-x-3 lg:space-x-6">
            <div class="w-4/12">
                <img src="https://placekitten.com/200/150" class="rounded-8px w-full">
            </div>
            <div class="w-8/12">
                <h1 class="font-bold sm:text-20px pb-2 text-black-100">Judul Blog</h1>
                <div class="text-black-50 flex items-center">
                    <span id="cat">Kategori</span>
                    <span>29 Apr 2021</span>
                </div>
            </div>
        </div>
        <div class="mt-8 flex items-center space-x-3 lg:space-x-6">
            <div class="w-4/12">
                <img src="https://placekitten.com/200/150" class="rounded-8px w-full">
            </div>
            <div class="w-8/12">
                <h1 class="font-bold sm:text-20px pb-2 text-black-100">Judul Blog</h1>
                <div class="text-black-50 flex items-center">
                    <span id="cat">Kategori</span>
                    <span>29 Apr 2021</span>
                </div>
            </div>
        </div>
        <div class="mt-8 flex items-center space-x-3 lg:space-x-6">
            <div class="w-4/12">
                <img src="https://placekitten.com/200/150" class="rounded-8px w-full">
            </div>
            <div class="w-8/12">
                <h1 class="font-bold sm:text-20px pb-2 text-black-100">Judul Blog</h1>
                <div class="text-black-50 flex items-center">
                    <span id="cat">Kategori</span>
                    <span>29 Apr 2021</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}