{% set title = 'Forgot Password' %}
{% extends 'nav-login.njk' %}

{% block content %}
    <div class="mb-16 container-kanoo grid place-items-center relative py-8 lg:py-12">
        <!-- LOGIN FORM -->
        <div class="bg-white border border-black-30 rounded-5px w-full px-4 lg:px-20 py-16 lg:py-28 flex flex-col justify-center items-center" style="max-width: 600px;">
            <h1 class="font-semibold text-40px mb-5">Lupa Password</h1>
            <p class="mb-6 text-center text-16px text-black-70">Masukkan alamat email anda yang terdaftar untuk lupa password</p>
            <form action="#" style="max-width: 400px;" class="w-full">
                <div class="mb-5">
                    <input type="email" class="w-full text-16px placeholder-black-50 rounded-4px border border-black-30 px-4 h-56px" placeholder="Alamat Email" name="email" id="email">
                </div>
                <div class="mb-5">
                    <button type="submit" class="rounded-4px text-center py-3 w-full bg-meja-100 text-white font-semibold">Kirim</button>
                </div>
                <a href="#" class="block text-center underline text-meja-100 text-14px font-semibold">Kembali ke Halaman Login</a>
            </form>
        </div>
    </div>
{% endblock %}