<!-- Nama pages-->
{% set title = 'Kanno - Help Detail' %}
{% set style = 'help-detail' %}
{% extends "landing-page.njk" %}

{% block content %}
<!-- COVER BODY: MODAL -->
    <div class="kanoo-cover-body"></div>
    <div class="container-kanoo pt-10 md:pt-20 mb-32">
        <div class="lg:grid lg:grid-cols-10 lg:gap-8">
            <div class="col-span-2 self-start bg-white shadow-cat-card rounded-5px">
                <h1 class="bg-oren-100 text-white text-24px font-semibold p-6 rounded-t-5px">Kategori</h1>
                <ul class="px-9 py-6 text-20px text-black-50">
                    <li class="text-black-100">
                        <a href="#">Daftar Akun</a>
                    </li>
                    <li class="mt-6">
                        <a href="#">Hapus Akun</a>
                    </li>
                    <li class="mt-6">
                        <a href="#">Ganti Kata Sandi</a>
                    </li>
                    <li class="mt-6">
                        <a href="#">Lupa Kata Sandi</a>
                    </li>
                    <li class="mt-6">
                        <a href="#">Verifikasi Akun</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-8 mt-12 lg:mt-0">
                <div class="hidden md:block mb-8 leading-34px flex items-center text-oren-100 text-20px">
                    <a href="#" class="breadcrumb">Kategori</a>
                    <a href="#" class="breadcrumb">Daftar Akun</a>
                    <a class="text-black-50">Detail Pertanyaan</a>
                </div>
                <div class="mb-8">
                    <h1 class="text-black-100 text-20px     md:text-24px font-semibold leading-40px mb-4">Bagaimana cara membuat akun?</h1>
                    <p class="md:text-20px leading-34px text-black-70">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante  suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante</p>
                </div>
                <div class="mb-8">
                    <h1 class="text-black-100 text-20px     md:text-24px font-semibold leading-40px mb-4">Bagaimana cara membuat akun?</h1>
                    <p class="md:text-20px leading-34px text-black-70">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante  suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante</p>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}