{% set title = 'Create Service' %}
{% set style = 'create-service' %}
{% extends 'user-dashboard.njk' %}

{% block content %}
    <!-- step nav -->
    <div class="relative">
        <div class="mb-14 bg-kuning-100 text-kuning-30">
            <ul class="container-kanoo h-80px flex items-center justify-center">
                <li class="step-nav flex items-center space-x-4">
                    <a href="#" class="md:text-24px font-semibold">Overview</a>
                </li>
                <li class="step-nav flex items-center space-x-4">
                    <a href="#" class="md:text-24px font-semibold">Pricing Option</a>
                </li>
                <li class="flex text-white items-center space-x-4">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" fill="#FDFEFF"/>
                        <path d="M20 10C16.134 10 13 13.134 13 17C13 20.966 17.404 26.82 19.226 29.071C19.626 29.565 20.374 29.565 20.774 29.071C22.596 26.82 27 20.966 27 17C27 13.134 23.866 10 20 10ZM20 19.5C18.619 19.5 17.5 18.381 17.5 17C17.5 15.619 18.619 14.5 20 14.5C21.381 14.5 22.5 15.619 22.5 17C22.5 18.381 21.381 19.5 20 19.5Z" fill="#D9BF3F"/>
                    </svg>
                    <a href="#" class="md:text-24px font-semibold">Publish</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- MAIN -->
    <main>
        <div class="container-kanoo">
            <div class="mb-4 flex flex-col md:flex-row md:items-center md:space-x-3 justify-between">
                <div>
                    <h1 class="font-bold text-3xl md:text-40px mb-2">Live Preview & Publish</h1>
                    <p class="text-16px text-black-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>
                <div class="flex justify-between mt-8 md:mt-0">
                    <button class="md:mr-4 border border-meja-100 text-meja-100 h-52px w-36 sm:w-48 rounded-4px text-20px font-semibold">
                        Back
                    </button>
                    <button class="bg-meja-100 text-white h-52px w-36 whitespace-nowrap sm:w-48 rounded-4px text-20px font-semibold">
                        Publish Now
                    </button>
                </div>
            </div>
            <div class="w-full flex flex-wrap items-start justify-between py-16">
                <article id="article">
                    <!-- TITLE -->
                    <div class="mb-18px md:mb-24px">
                        <h1 class="article-title">Help you to make a Poster Design for marketing and social media needs</h1>
                    </div>
                    <!-- BORDER -->
                    <div class="border-b border-black-10 mb-20px md:mb-28px"></div>
                    <!-- PROFILE -->
                    <div class="row-flex-kanoo items-center mb-20px md:mb-28px">
                        <div class="mr-16px">
                            <img class="article-user-image" src="../../assets/img/user.png" height="56" width="56" alt="#">
                        </div>
                        <div>
                            <strong class="article-user-name">Yomoto Santoso</strong>
                            <p class="article-user-level">Seller Level 2</p>
                        </div>
                        <div class="inline-flex items-center ml-auto">
                            <svg class="svg-star" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="svg-star" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="svg-star" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="svg-star" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="svg-star" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <span class="font-semibold text-14px md:text-16px text-black-50 ml-8px md:ml-10px">5.0 (11)</span>
                        </div>
                    </div>
                    <!-- PRIMARY IMAGE -->
                    <div class="mb-28px md:mb-32px">
                        <img class="article-image-primary" src="../../assets/img/freelance-list-1.png" alt="#">
                    </div>
                    <!-- SECONDARY IMAGE -->
                    <div class="row-flex-kanoo row-secondary-image mb-32px md:mb-40px">
                        <img class="article-image-secondary article-image-secondary-active" src="../../assets/img/freelance-service-1.png" height="120" width="200" alt="#">
                        <img class="article-image-secondary" src="../../assets/img/freelance-service-3.png" height="120" width="200" alt="#">
                        <img class="article-image-secondary" src="../../assets/img/freelance-service-4.png" height="120" width="200" alt="#">
                    </div>
                    <!-- BORDER -->
                    <div class="border-b border-black-10 mb-40px"></div>
                    <!-- DESKRIPSI -->
                    <section class="mb-32px md:mb-40px">
                        <h3 class="section-title mb-18px md:mb-24px">Deskripsi</h3>
                        <p class="article-deskripsi-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ex eacommodo consequat.</p>
                    </section>
                </article>
                <aside id="aside" class="border">
                    <div>
                        <h3 class="section-title">Pilih Paket</h3>
                    </div>
                    <div class="border-b border-black-10 my-24px"></div>
                    <div>
                        <h2 class="aside-title">Paket Bronze</h2>
                        <p class="aside-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="aside-price">Rp. 100.000</strong>
                            <a href="#" class="aside-button-paket">Pilih Paket</a>
                        </div>
                    </div>
                    <div class="border-b border-black-10 my-24px"></div>
                    <div>
                        <h2 class="aside-title">Paket Silver</h2>
                        <p class="aside-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="aside-price">Rp. 200.000</strong>
                            <a href="#" class="aside-button-paket">Pilih Paket</a>
                        </div>
                    </div>
                    <div class="border-b border-black-10 my-24px"></div>
                    <div>
                        <h2 class="aside-title">Paket Gold</h2>
                        <p class="aside-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="aside-price">Rp. 300.000</strong>
                            <a href="#" class="aside-button-paket">Pilih Paket</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}